
html {
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    background-color: rgba(153, 194, 225, 0.913);
    font-family: 'Baloo Tammudu 2', cursive;
  }

  /* || header layout */

.header {
    background-color: rgba(23, 78, 121, 0.913);
    margin-bottom: 15px;
    padding: 100%;
    display: flex;
    width: 100%;
    /* margin: 0; */
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 700;

  }
  .content {
    margin-right: 15px;
    flex-wrap: wrap;
    flex: 0 1 auto;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 600;
  }

  
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 400;
  }

  img {

    width: 50px;

  }
