
  body {

    background-color: #CADCFF;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 400;
  }

  /* || header layout */

.header {
    background-color: #546380;
    color: white;
    margin: 0;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    width: 100%;

    
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;

    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 700;

  }

  .wrapper{
    flex-direction: column;
    align-items: center;
    display: flex;
    background-color: #546380;
    color: black;
  }

  


  .content {

    flex: 0 1 auto;
    width: 175px;
    margin-right: 15px;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 600;

      /* ||     background-color:#CCBD9B;  */
  }

  .content p {

    background-color: white;
    border-radius: 4px;
    padding: 15px;
    flex: 0 1 auto;
    border: solid 1px transparent;
  }

  
  .container {
    max-width: 960px;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 400;
    line-height: 1.2;
  }



.description{
  flex: 0 1 auto;
  border-radius: 4px;
  background: white;
  padding: 15px;
  border: dashed 1px;
  background-color: #CCBD9B;
  font-weight: 400;

}



 .img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: inherit;
      }


@media screen and (max-width: 1000px) {

    .container {
      justify-content: center;
    }

    .content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 1 0 auto;
      justify-content: space-evenly;
      align-items: center;
      margin: 0px;
      margin-bottom: 15px;

    }
}


