
html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    background-color: rgba(23, 78, 121, 0.913);
  }

  /* || header layout */

.header {

    max-width: 380px;
    height: 50px;
  }

  .main, .header {
  background-color: rgba(23, 78, 121, 0.913);
  padding: 1%;
}