
html, body {
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    background-color: rgba(23, 78, 121, 0.913);
  }

  /* || header layout */

.header {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    margin: 0;
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    

  }
  .content {
    margin-right: 15px;
    flex-wrap: wrap;
  }

  
  .container {
    display: flex;
    flex-wrap: wrap;
  }

  img {

    width: 50px;



  }

  .main, .header {
  background-color: rgba(23, 78, 121, 0.913);
  padding: 1%;
}