
html {
    margin: 0;
    padding: 0;
  }
  
  body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
    background-color: #CADCFF;
    font-family: 'Baloo Tammudu 2', cursive;
  }

  /* || header layout */

.header {
    background-color: #546380;
    margin-bottom: 15px;
    padding: 15px;
    display: flex;
    width: 100%;
    /* margin: 0; */
    
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 700;

  }

  .wrapper, .container {

    margin-right: 15px;
  }


  .content {
    margin-right: 15px;
    flex-wrap: wrap;
    flex: 0 1 auto;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 600;
    background-color:#CCBD9B;
  }

  
  .container {
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 400;
    line-height: 1.0;
  }
.second_header{
   background-color: #CCBD9B

}
  img {

    width: 50px;

  }
